/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

    font-family: Arial;

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {

}

/* Колонки */

.row {

    display: flex;
    margin-bottom: 20px;

}
.col {

    flex: auto;

}


/* Потом селекторы по классам */

.text-input {

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #939292;

}

.button {

    background-color: #554AF0;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 5px;

}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {


}


/* Страничка жанров и тегов */

.genre-first {

}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
