/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

    font-family: Arial;

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {

}

/* Колонки */

.row {

    display: flex;
    margin-bottom: 20px;

}
.col {

    flex: auto;

}


/* Потом селекторы по классам */

.text-input {

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #939292;

}

.button {

    background-color: #554AF0;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 5px;

}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #939292;

}


/* Страничка жанров и тегов */

.genre-first {

    background-color: #E1F5EA;
    padding: 8px 12px;
    margin-bottom: 16px;
    border-radius: 5px;
    width: 100%;

}

.genre-second {

    background-color: #CBEDFF;
    padding: 8px 12px;
    margin-bottom: 16px;
    border-radius: 5px;
    width: 75%;

}

.genre-third {

    background-color: #FCF0E5;
    padding: 8px 12px;
    margin-bottom: 16px;
    border-radius: 5px;
    width: 50%;

}

.genre-fourth {

    background-color: #EBDCF9;
    padding: 8px 12px;
    margin-bottom: 16px;
    border-radius: 5px;
    width: 35%;

}

.tag {

    color: #554AF0;
}


/* Страничка популярного */

.cover {

    width: 90%;

}

/* Страничка подписки  */

.box-green {

    background-color: #E1F5EA;
    padding: 20px 15px;
    margin-bottom: 25px;
    border-radius: 5px;

}

.box-purple {

    background-color: #EBDCF9;
    padding: 20px 15px;
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 5px;

}

.text-large {

    font-size: 30px;
    font-weight: bold;

}

.button-link {

    background-color: #554AF0;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border-style: none;
    border-radius: 5px;
    text-decoration: none;

}
